<<<<<<< HEAD
.item{
    
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgb(46, 45, 45);
    margin: 0px;
    
}
.header-general{
    max-width: 800px;  
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    
}
/*
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;

}*/

.container-nav{
    list-style: none;
    display: flex;
    
       
}

.nav-item{
    display: flex;
    font-family: helvetica;
    font-size: 14px;
    color: rgb(175, 173, 173) ;
    padding: 0px 5px;
}

.tittle-profile{
    text-align: center;
    font-family: helvetica;
    color: rgb(175, 173, 173);
    font-size: 12px;
    padding: 4px 7px;
    
}

#body{
    background-color:rgb(239, 243, 245);
    margin: 0px auto;
    
}

.pic-ada{

    border-radius: 50%;
    height: 40px;
    padding: 6px;
    margin: 0px 0px ;
}
.profile{
display:flex;
justify-content: end;
font-family: helvetica sans-serif;
color: rgb(219, 214, 214);
text-align: center;
}

.big-container{
    display: flex;
    flex-direction: row;
    margin: 15px 300px;
    padding: 5px 0;
    justify-content: center;
    max-width:800px;
    align-items: flex-start;
}

 .main-container{
    padding: 0px;
    margin: 20px;
    width: 500px;
    height: 920px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(122, 120, 120);

}

.aside-container{
    padding: 0px;
    margin: 20px;
    height: 380px;
    width: 300px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(122, 120, 120);
}

.tittle-aside{
    text-align: center;
    font-family: helvetica sans-serif;

}

#tittle-ada{
    font-family: helvetica;
    font-size: 24px;

}
#tittle-programer{
    font-family: helvetica;
    font-size: 15px;
    color: rgb(172, 171, 166);
}
.profile-second{
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 4px;
    margin: 2px 3px;
    font-family: helvetica;
    font-size: 18px;

}

.cat {
    width: 500px;
    height: 400px;

}

.pic-cat{
    width: 100%;
}
.tittle-cat{
    margin: 0px 0px;
    padding:0px 20px 20px;
    border-bottom: 1px solid rgb(175, 173, 173);
}
.nav-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 280px 0px 0px ;
    padding: 0px;
    list-style: none;
    font-size: 11px;
    font-family: Verdana;
    font-weight: bolder;
    color: rgb(161, 158, 158);

}
.profile-thrid {
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-family: helvetica;
    font-size: 18px;
    margin: 0px 0px;
    }
.ada-text{
    margin: 15px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 200;
}


.footer-comment{
    margin: 0px 0px;
    padding:0px 20px 20px;
    
   

}
=======
<<<<<<< HEAD
nav li:nth-child(even) {

 color: green;

}

nav li:nth-child(3){
    background-color: lightblue;

    }

nav li:nth-child(1){
        border-top: 1px solid green;
    
    }

 nav li:nth-child(7){
    border-bottom: 5px solid blue;
    }



nav li:nth-child(3) a,
nav li:nth-child(5) a {
    color: red;

}

nav li:nth-child(5) a:hover{
    color: gray; 

}


a .disabled {
    color: purple;
}

li>.disabled{
    color: purple;
}

li>.disabled:not(a){
    color: gray;
}
.active{
    color: gold;
}
section>div>div>div :not(h4){
    color: red;
}    

.padre>div>h4 {
    background-color: red;
}
.abuelo>h4{
    border: 1px solid;
    border-radius 50%;
}

.promo{
    color: gold;
    font-weight: bold;
}

li .promo .disabled{
    color: gold;
    font-weight: bold;

}

div:nth-child(4){
   color: blue 
}

.padre>div>h4:nth-child(4){
    background-color: blue;
}

section>div>div>div>div:nth-last-child(2){
    color: blue;
}

/*
div {
    color: blue;


 
}
.month-list:not(.disabled){
    color: gray;
}

/*

.section:not(.disabled) {
    background-color: ;
    
}


.disabled:not(a) {
    color: gray; 

}
.active {
    color: gold;
}
.padre:not(h4) {
    color: red;
}

.promo{
    color: gold;
}
*/
=======

>>>>>>> dfa8988b0d8e8fffa0609e161412a258b8ecd80b
>>>>>>> 4263f23681fd8876e197f42c0a3ca837723fb13e
